@font-face {
  font-family: 'Avenir';
  src: url('../fonts/AvenirLTStd-Medium.eot');
  src: url('../fonts/AvenirLTStd-Medium.woff2') format('woff2'), url('../fonts/AvenirLTStd-Medium.woff') format('woff'), url('../fonts/AvenirLTStd-Medium.ttf') format('truetype'), url('../fonts/AvenirLTStd-Medium.svg#AvenirLTStd-Medium') format('svg'), url('../fonts/AvenirLTStd-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src: url('../fonts/AvenirLTStd-Book.eot');
  src: url('../fonts/AvenirLTStd-Book.woff2') format('woff2'), url('../fonts/AvenirLTStd-Book.woff') format('woff'), url('../fonts/AvenirLTStd-Book.ttf') format('truetype'), url('../fonts/AvenirLTStd-Book.svg#AvenirLTStd-Book') format('svg'), url('../fonts/AvenirLTStd-Book.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon/icomoon.eot?xa7bnc');
  src: url('../fonts/icomoon/icomoon.eot?xa7bnc#iefix') format('embedded-opentype'), url('../fonts/icomoon/icomoon.ttf?xa7bnc') format('truetype'), url('../fonts/icomoon/icomoon.woff?xa7bnc') format('woff'), url('../fonts/icomoon/icomoon.svg?xa7bnc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icomoon-"],
[class*=" icomoon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="icomoon-"]:before,
[class*=" icomoon-"]:before {
  font-family: 'icomoon';
}
.icomoon-back:before,
.icomoon-barcode:before,
.icomoon-checked:before,
.icomoon-checkout:before,
.icomoon-clear:before,
.icomoon-customer:before,
.icomoon-expend:before,
.icomoon-gird:before,
.icomoon-menu:before,
.icomoon-key:before,
.icomoon-logout:before,
.icomoon-min:before,
.icomoon-more:before,
.icomoon-plus:before,
.icomoon-search:before,
.icomoon-search-btn:before,
.icomoon-select:before,
.icomoon-stock:before,
.icomoon-user:before {
  font-family: 'icomoon';
}
.icomoon-back:before {
  content: "\e900";
  color: #66a0e5;
}
.icomoon-barcode:before {
  content: "\e901";
  color: #4a90e2;
}
.icomoon-checked:before {
  content: "\e902";
  color: #31c763;
}
.icomoon-checkout:before {
  content: "\e903";
  color: #6980ec;
}
.icomoon-clear:before {
  content: "\e904";
  color: #fff;
}
.icomoon-customer:before {
  content: "\e905";
  color: #4a90e2;
}
.icomoon-expend:before {
  content: "\e906";
  color: #4a90e2;
}
.icomoon-gird:before {
  content: "\e907";
  color: #66a0e5;
}
.icomoon-menu:before {
  content: "\e908";
  color: #4a90e2;
}
.icomoon-key:before {
  content: "\e909";
  color: #dfe1e4;
}
.icomoon-logout:before {
  content: "\e90a";
  color: #6980ec;
}
.icomoon-min:before {
  content: "\e90b";
  color: #4a90e2;
}
.icomoon-more:before {
  content: "\e90c";
  color: #4a90e2;
}
.icomoon-plus:before {
  content: "\e90d";
  color: #4a90e2;
}
.icomoon-search:before {
  content: "\e90e";
  color: #bbbbbe;
}
.icomoon-search-btn:before {
  content: "\e90f";
  color: #bbbbbe;
}
.icomoon-select:before {
  content: "\e910";
  color: #bbbbbe;
}
.icomoon-stock:before {
  content: "\e911";
  color: #d0021b;
}
.icomoon-user:before {
  content: "\e912";
  color: #dfe1e4;
}

body {
  box-sizing: border-box;
  font-size: 15px;
  font-family: 'Avenir';
  color: #36383a;
  line-height: 1.42857143;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  position: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-user-drag: none;
  -ms-content-zooming: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  word-wrap: break-word;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;

  overscroll-behavior: contain;
}
body.fixfixed {
  position: static !important;
}
body.fixfixed.modal-open {
  overflow: auto !important;
}

a {
  text-decoration: none;
  color: #007aff;
  cursor: pointer;
}
a:hover,
a:focus {
  text-decoration: none;
}
ul,
ol {
  padding: 0;
  margin: 0;
}
ul li,
ol li {
  list-style: none;
}
.form-control {
  height: 54px;
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px #e0e0e0;
  display: block;
  background-color: #fff;
  padding: 3px 20px;
  color: #7c7d80;
  font-size: 14px;
  box-shadow: none ;
  outline: 0 ;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form-control::-moz-placeholder {
  color: #7c7d80;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #7c7d80;
}
.form-control::-webkit-input-placeholder {
  color: #7c7d80;
}
select,
select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-position: center right 20px;
  background-repeat: no-repeat;
  background-image: url('../images/select.svg');
  padding-right: 36px;
}
select::-ms-expand,
select.form-control::-ms-expand {
  display: none;
}
.form-group {
  margin-bottom: 23px;
}
.btn,
button {
  box-shadow: none !important;
  outline: none !important;
}
.btn.active,
button.active,
.btn:active,
button:active {
  box-shadow: none ;
  outline: none;
}
.btn-default {
  height: 57px;
  border-radius: 5px;
  border: none ;
  font-size: 17px;
  font-weight: 500;
  color: #fff;
  background-color: #1d63dc;
  padding: 6px 12px;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.active,
.btn-default:active,
.btn-default:focus:active {
  background-color: #1d63dc;
  color: #fff !important;
  box-shadow: none;
  outline: none;
  border: none;
  opacity: 0.9 !important;
}
.btn-default.disabled {
  background-color: #1d63dc !important;
  opacity: 0.5 !important;
  color: #fff !important;
}
.btn-default.disabled:hover,
.btn-default.disabled:focus {
  background-color: #1d63dc !important;
  color: #fff !important;
  opacity: 0.5 !important;
}
.btn-default2 {
  height: 57px;
  border-radius: 5px;
  border: none;
  font-size: 17px;
  font-weight: 500;
  color: #fff;
  background-color: #1d63dc;
  box-shadow: none;
  outline: none;
  padding: 6px 12px;
}
.btn-default2:hover,
.btn-default2:focus,
.btn-default2.active,
.btn-default2:active,
.btn-default2:focus:active {
  background-color: #1d63dc;
  border: none;
  box-shadow: none;
  outline: none;
  color: #fff;
}
.btn-default2.disabled {
  background-color: #1d63dc !important;
  opacity: 0.5;
}
.btn-default2.disabled:hover,
.btn-default2.disabled:focus {
  background-color: #1d63dc !important;
  color: #fff;
}

.btn-link:hover,
.btn-link:focus {
  text-decoration: none;
}
.modal-content {
  border-radius: 10px;
  box-shadow: none;
  border: none;
}
.modal-footer {
  border-top: 2px solid #e0e0e0;
}
.modal-sm {
  width: 275px;
}
.popup-messages {
  font-size: 16px;
  color: #171717;
  line-height: 1.56;
  text-align: center;
}
.popup-messages .modal-dialog {
  height: 100%;
  display: -webkit-flex;
  display: flex;
  flex: 1 1 0;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 0 auto;
}
.popup-messages .modal-content {
  width: 100%;
}
.popup-messages .modal-body {
  padding: 30px 12px;
}
.popup-messages .modal-footer {
  padding: 10px 30px;
  text-align: center;
}
.popup-messages .title {
  font-size: 18px;
  display: block;
  font-weight: 500;
  margin-top: 0;
}
.popup-messages .logout-actions {
  padding: 0;
}
.popup-messages .actions-2column {
  padding: 0;
}
.popup-messages .actions-2column:before,
.popup-messages .actions-2column:after {
  content: "";
  display: table;
}
.popup-messages .actions-2column:after {
  clear: both;
}
.popup-messages .actions-2column a {
  display: block;
  width: 50%;
  float: left;
  line-height: 57px;
  font-weight: 500;
}
.popup-messages .actions-2column a + a {
  border-left: solid 1px #e0e0e0;
}
.wrapper-loading {
  height: 100%;
  display: -webkit-flex;
  display: flex;
  flex: 1 1 0;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.percircle .bar,
.percircle .fill {
  border-color: #4786ff;
}
.percircle.red:hover > span {
  color: #4786ff;
}
.percircle.gt50 .slice,
.rect-auto {
  clip: rect(auto, auto, auto, auto);
}
.gt50 .fill,
.percircle .bar,
.pie {
  position: absolute;
  border: 6px solid #4786ff;
  width: 100%;
  height: 100%;
  clip: rect(0, 0.5em, 1em, 0);
  border-radius: 50%;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  box-sizing: border-box;
}
.bar {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.gt50 .bar:after,
.gt50 .fill,
.pie-fill {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.percircle {
  position: relative;
  font-size: 120px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  float: left;
  margin: 0 .1em .1em 0;
  background-color: transparent;
}
.percircle:before {
  content: '';
  font-size: 120px;
  width: calc(100% -  4px);
  width: -moz-calc(100% -  4px);
  width: -webkit-calc(100% -  4px);
  width: -o-calc(100% -  4px);
  height: calc(100% -  4px);
  height: -moz-calc(100% -  4px);
  height: -webkit-calc(100% -  4px);
  height: -o-calc(100% -  4px);
  border-radius: 50%;
  float: left;
  border: 2px solid #f2f2f2;
  position: absolute;
  top: 2px;
  left: 2px;
  box-sizing: border-box;
}
.percircle *,
.percircle :after,
.percircle :before {
  box-sizing: content-box;
}
.percircle.animate:after,
.percircle.animate > span {
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
}
.percircle.animate .bar {
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
}
.percircle > span {
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 50%;
  top: calc(49.9%);
  height: 1em;
  font-size: .2em;
  color: #ccc;
  display: block;
  text-align: center;
  white-space: nowrap;
}
.percircle .slice {
  position: absolute;
  width: 1em;
  height: 1em;
  clip: rect(0, 1em, 1em, 0.5em);
}
.percircle {
  -webkit-transform: scale(1.6);
  -ms-transform: scale(1.6);
  -o-transform: scale(1.6);
  transform: scale(1.6);
}
.percircle > span {
  font-size: 32px;
  font-weight: 300;
  color: #676767;
  height: 40px;
  top: 50%;
  line-height: 40px;
  margin-top: -20px;
}

.logout-actions:before,
.logout-actions:after {
  content: "";
  display: table;
}
.logout-actions:after {
  clear: both;
}
.logout-actions a {
  display: block;
  width: 50%;
  float: left;
  line-height: 57px;
}
.logout-actions a + a {
  border-left: solid 1px #e0e0e0;
}
.mCustomScrollbar {
  -ms-touch-action: pinch-zoom;
  touch-action: pinch-zoom;
}
.mCustomScrollbar.mCS_no_scrollbar,
.mCustomScrollbar.mCS_touch_action {
  -ms-touch-action: auto;
  touch-action: auto;
}
.mCustomScrollBox {
  position: relative;
  overflow: hidden;
  height: 100%;
  max-width: 100%;
  outline: none;
  direction: ltr;
}
.mCSB_container {
  overflow: hidden;
  width: auto;
  height: auto;
}
.mCSB_inside > .mCSB_container {
  margin-right: 30px;
  height: auto !important;
}
.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
  margin-right: 0;
}
.mCS-dir-rtl > .mCSB_inside > .mCSB_container {
  margin-right: 0;
  margin-left: 30px;
}
.mCS-dir-rtl > .mCSB_inside > .mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
  margin-left: 0;
}
.mCSB_scrollTools {
  position: absolute;
  width: 16px;
  height: auto;
  left: auto;
  top: 0;
  right: 0;
  bottom: 0;
}
.mCSB_outside + .mCSB_scrollTools {
  right: -26px;
}
.mCS-dir-rtl > .mCSB_inside > .mCSB_scrollTools,
.mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools {
  right: auto;
  left: 0;
}
.mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools {
  left: -26px;
}
.mCSB_scrollTools .mCSB_draggerContainer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: auto;
}
.mCSB_scrollTools a + .mCSB_draggerContainer {
  margin: 20px 0;
}
.mCSB_scrollTools .mCSB_draggerRail {
  width: 2px;
  height: 100%;
  margin: 0 auto;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}
.mCSB_scrollTools .mCSB_dragger {
  cursor: pointer;
  width: 100%;
  height: 30px;
  z-index: 1;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  position: relative;
  width: 4px;
  height: 100%;
  margin: 0 auto;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  text-align: center;
}
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar,
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar {
  width: 12px;
}
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail,
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail {
  width: 8px;
}
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown {
  display: block;
  position: absolute;
  height: 20px;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  cursor: pointer;
}
.mCSB_scrollTools .mCSB_buttonDown {
  bottom: 0;
}
.mCSB_scrollTools,
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown,
.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_scrollTools .mCSB_buttonRight {
  -webkit-transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger_bar,
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerRail,
.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger_bar,
.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerRail {
  -webkit-transition: width 0.2s ease-out 0.2s, height 0.2s ease-out 0.2s, margin-left 0.2s ease-out 0.2s, margin-right 0.2s ease-out 0.2s, margin-top 0.2s ease-out 0.2s, margin-bottom 0.2s ease-out 0.2s, opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
  -moz-transition: width 0.2s ease-out 0.2s, height 0.2s ease-out 0.2s, margin-left 0.2s ease-out 0.2s, margin-right 0.2s ease-out 0.2s, margin-top 0.2s ease-out 0.2s, margin-bottom 0.2s ease-out 0.2s, opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
  -o-transition: width 0.2s ease-out 0.2s, height 0.2s ease-out 0.2s, margin-left 0.2s ease-out 0.2s, margin-right 0.2s ease-out 0.2s, margin-top 0.2s ease-out 0.2s, margin-bottom 0.2s ease-out 0.2s, opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
  transition: width 0.2s ease-out 0.2s, height 0.2s ease-out 0.2s, margin-left 0.2s ease-out 0.2s, margin-right 0.2s ease-out 0.2s, margin-top 0.2s ease-out 0.2s, margin-bottom 0.2s ease-out 0.2s, opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.mCSB_scrollTools .mCSB_draggerRail {
  background-color: transparent;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #4786ff;
  width: 100%;
  opacity: 0;
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCustomScrollbar:hover .mCSB_dragger_bar {
  background-color: #4786ff;
  opacity: 0.4;
}
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background-color: #4786ff;
  opacity: 0.4;
}
.mCSB_scrollTools {
  width: 8px;
}
.mCSB_scrollTools .mCSB_draggerRail {
  width: 100%;
  opacity: 0.2;
}
.mCSB_inside > .mCSB_container {
  margin-right: 0;
}
.wrapper-messages {
  /*min-width: 418px;*/
  border-radius: 4px;
  background-color: rgba(30, 172, 77, 0.9) !important;
  color: #fff;
  line-height: 30px;
  padding: 10px 20px 10px 54px !important;
  position: fixed !important;
  bottom: 15px;
  z-index: 100;
  max-width: calc(100% -  320px);
  max-width: -moz-calc(100% -  320px);
  max-width: -webkit-calc(100% -  320px);
  max-width: -o-calc(100% -  320px);
  margin-bottom: 0 !important;
  min-height: auto !important;
  font-family: 'Avenir';
}
.wrapper-messages:before {
  font-family: 'icomoon';
}
.wrapper-messages:before {
  content: "\e902";
  color: #31c763;
}
.wrapper-messages:before {
  width: 22px;
  line-height: 22px;
  height: 22px;
  text-align: center;
  background-color: #fff;
  border-radius: 100%;
  position: absolute;
  left: 20px;
  top: 15px;
  font-size: 10px;
}
.messages-warning {
  background-color: rgba(221, 72, 72, 0.95) !important;
  top: 30px;
  bottom: auto;
  transform: "rotateY(360deg)";
  transition: "transform 0.6s";
}
.messages-warning:before {
  content: '';
}
.messages-warning:after {
  content: '';
  width: 6px;
  height: 2px;
  background-color: #ff2e2e !important;
  position: absolute;
  left: 28px;
  top: 25px;
  z-index: 5;
}
.btn-cannel {
  background-color: #d5d9dd;
  color: #3f4245;
}

.btn-cannel:hover,
.btn-cannel:focus,
.btn-cannel.active,
.btn-cannel:active,
.btn-cannel:focus:active {
  background-color: #d5d9dd;
  color: #3f4245;
  box-shadow: none;
  outline: none;
  border: none;
  opacity: 0.9 !important;
}
.btn-cannel.disabled {
  background-color: #d5d9dd !important;
  opacity: 0.5 !important;
}
.btn-cannel.disabled:hover,
.btn-cannel.disabled:focus {
  background-color: #d5d9dd !important;
  color: #3f4245;
}





.scrollbar-track-y {
  width: 4px !important;
}
.label-checkbox {
  position: relative;
  font-weight: normal;
  display: block;
}
.label-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
.label-checkbox input[type="checkbox"] + span {
  display: inline-block;
  width: 51px;
  height: 31px;
  border-radius: 31px;
  background-color: #dadada;
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  vertical-align: middle;
}
.label-checkbox input[type="checkbox"] + span:before {
  content: "";
  display: block;
  width: 27px;
  height: 27px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 100%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.label-checkbox input[type="checkbox"]:checked + span {
  background-color: #1d63dc;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.label-checkbox input[type="checkbox"]:checked + span:before {
  left: 22px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.label-checkbox input[type="checkbox"]:disabled + span {
  background-color: #f1f1f1;
  cursor: auto;
}
.label-checkbox input[type="checkbox"]:disabled + span:before {
  background-color: #d0d0d0;
}
.btn.loader {
  font-size: 0 !important;
  color: transparent;
}
.btn.loader:after {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  border: 2px solid transparent;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  position: relative;
  animation: loader-rotate 1s linear infinite;
  margin: 0 auto;
}
.btn-second {
  height: 45px;
  border-radius: 5px;
  background-color: #d5d9dd;
  color: #1d1d1d;
}

a.btn-second {
  height: auto;
  line-height: 45px;
  color: #1d1d1d;
}

.btn.disabled {
  opacity: 0.5;
}